<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Track your Bills here!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Place favicon.ico in the root directory -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/styles.css">
   <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Vast+Shadow" rel="stylesheet">
  </head>
  <header>
  <ul class="nav-pills">
    <img class="budget" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIZY6a7B18XQouIi-XoVEkKOntqv5Y9A5FW1z1Vt54GU6WxdofWQ">
    <li role="presentation" class="presentation"><a href="/">Home</a></li>
    <li role="presentation" class="presentation"><a href="/bills/new">New bill</a></li>
    </header>
  <body style="background-color:#18c4c4;">
  
    
  