<% include ./partials/header %>

<h1> Track your bills here! </h1>

<div class='name'>
<% person.forEach(person => { %> 
 <h2> <%= person.name %> </h2>
   <% }) %>
</div>
<div class="my-bills">
<% bill.forEach(bill => { %>
  <li> Rent: <%= bill.rent %> </li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  
  
 <% }) %>

 </div>