<% include ../partials/header %>

<h2> How much did you spend this month? </h2>
<div class="bill-container">
<form action="/bills" method="POST">
<label>Name</label>
<input type="number" name="person_id" />
<label>Rent</label>
<input type="number"name="rent" />
<label>Electric</label>
<input type="number" name="electric" />
<label>Car</label>
<input type="number" name="car" />
<label>Insurance</label>
<input type="number" name="insurance" />
<label>Food</label>
<input type="number" name="food" />
<label>Other</label>
<input type="number" name="other" />
<button type="submit">Enter bills</button>
</form>
</div>

</body>
</html>